/* world.css */
path {
  fill: #c0c0c0; 
  stroke: #333;  
  stroke-width: 0.5;
  cursor: pointer;
}

path:hover {
  fill: rgb(1, 61, 226); 
}

.container{
    display: flex;
    gap: 20px;
}

#map-column{
    flex: 1;
}

.info-column{
    flex: 1;
    border: 1px blue;
    padding: 10px;
}