* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
body {
    background-color: rgb(196, 196, 196);
}

#main-head {
    background-color: grey;
    padding: 2vh; 
    width: 100%;
    text-align: center;
}

#logo {
    position: absolute;
    top: 8px;
    left: 3vw;
    max-height: 5vh;
    max-width: 5vw;
}

#graph-img {
    position: relative;
    max-width: 500px;
    max-height: 300px;
    left: 140px;
    top: 600px;

}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

ul {
    list-style: none;
    display: flex;
    gap: 3vw;
    align-items: center;
    justify-content: center;
    background-color: rgb(75, 75, 75);
    padding: 2vh;
    width: 100vw;
}

.navlinks {
    text-decoration: none;
    color: white;
    background-color: rgb(29, 29, 29);
    padding: 1vh 2vw;
    border: 4px solid rgb(29, 29, 29);
    border-radius: 4px;
}

.navlinks:hover {
    background-color: rgb(109, 2, 2);
    
}

section {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-areas: 
    "heading aside"
    "image aside"
    "content aside";
}

#section-head {
    grid-area: heading;
    text-align: center;
    background-color: gray;
    justify-self: center;
    padding: 1vh 2vw;
    margin: 2vw;
    border: 3px solid black;
    border-radius: 3px;
}

#section-img {
    grid-area: image;
    display: block;
    margin: auto;
    max-width: 20vw;
    max-height: 20vh;
}

#img-contain{
    margin: 0 0 2vw 0;
}
#section-p {
    grid-area: content;
    max-width: 50%;
    text-align: center;
    margin: auto;
    overflow: hidden;
    background-color: gray;
    padding: 1vh 2vw;
    border: 3px solid black;
    border-radius: 3px;
}

aside {
    grid-area: aside;
    margin: auto;
}

table {
    margin: 10px;
}

th {
    text-align: left;
}

td {
    text-align: left;
}

table, th, td {
    border: 3px solid black;
    border-radius: 2px;
    border-collapse: collapse;
}

th, td{
    padding: 1vh;
}

tr:nth-child(even) {
    background-color: gray;
}

tr:nth-child(odd) {
    background-color: rgb(94, 94, 94);
}

#aside-ol {
    border: 3px solid black;
    padding: 30px;
    margin: 0px 2vw 0px 0px;
    text-align: center;
    background-color: gray;
}

#aside-ol h3, #aside-ol li {
    margin: 10px;
}

#aside-img{
    display: block;
    float: left;
    max-height: 160px;
    max-width: 160px;
    margin: 2vh;
}

#contact-button {
    position: absolute;
    bottom: 40px;
    right: 40px;
    padding: 20px;
    background-color: brown;
    text-decoration: none;
    font-weight: bold;
    color: white;
    border: 3px solid brown;
    border-radius: 3px;
}

#contact-button:hover {
    background-color: rgb(134, 38, 38);
}

form {
   display: flex;
   flex-direction: column;
}

label{
    text-align: center;
    margin: 5px;
}
input, textarea{
    border: 4px solid black;
    border-radius: 2px;
    padding: 10px;
    background-color: rgb(202, 202, 202);
}

form button{
    margin: 5px;
    background-color: rgb(202, 202, 202);
    border: 4px solid black;
    border-radius: 2px;
}
#form-contain{
    background-color: gray;
    padding: 10px;
    border: 4px solid black;
    border-radius: 4px;
    margin-top: 100px;
    margin-right: 500px;
}

.source {
    text-decoration: none;
}
